h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
  }
  body{
    background-color: rgba(39, 41, 41, 0.288);
  }
  p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    padding: 10px;
    margin: 0;
  }
  #img-caption{
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  #legacy-info{
    font-family: 'Times New Roman', Times, serif;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
    font-style: italic;
  }
  label{
    font-weight: bolder;
  }
  footer{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  #tribute-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  a{
    color: rgb(34, 104, 233);
  }